<!doctype html> <html class="no-js"> <head> <meta charset="utf-8"> <title></title> <meta name="description" content=""> <meta name="viewport" content="width=device-width"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> <link rel="stylesheet" href="dist/styles/vendor.d13fcc79.css"> <link rel="stylesheet" href="dist/styles/main.251ea320.css">  <body ng-app="ngdatatablesApp"> <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]--> <!-- Add your site or application content here --> <div class="container" ng-controller="MainCtrl"> <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered"></table> <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" ng-change="pageChanged()" num-pages="numPages" rotate="false" items-per-page="itemsPerPage"></pagination> </div> <!--[if lt IE 9]>
    <script src="scripts/oldieshim.ff90b0fb.js"></script>
    <![endif]--> <script src="dist/scripts/vendor.584694e3.js"></script> <script src="dist/scripts/scripts.97b20dc4.js"></script>